.social_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.social_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_wrapper {
    margin: 0 10px;
    position: relative;
}

.icon_link {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.icon_link:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
    border: 2px solid rgb(255, 255, 255);
    color: white;
}

.icon {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.icon_link:hover .filled {
    height: 100%;
}

#github .filled {
    background-color: #24262a;
}
#discord .filled {
    background-color: #5865F2;
}

#steam .filled {
    background-color: #1B2838;
}

#linkedin .filled {
    background-color: #0A66C2;
}